$buttom-primary-color: rgb(241, 79, 79);
$buttom-hover-color: rgba(204, 73, 73, 1);
$buttom-active-color: rgba(140, 40, 40, 1);
$error-message-color: rgba(255, 0, 0, 0.795);
$background-color: rgba(72, 66, 131, 1);
$default-white-color: white;
$default-black-color: black;
$quiz-background-color: rgba(255, 244, 238, 1);
